{% extends "base.html" %}
{% block content %}

    <h3 class="light-purple-text text-darken-4 center-align">All Recipes</h3>
    
    <ul class="collapsible">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header white-text purple darken-4 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ recipe.recipe_name }}</strong> : 
        
                </div>
                <div class="collapsible-body">
                    <strong>{{ recipe.ingredients_list }}</strong>
                    <p>{{ recipe.recipe_description }}</p>
                    <p><em>by: {{ recipe.created_by }}</em></p>
                </div>
            </li>
            {% endfor %}
        </ul>
    
    {% endblock %}